
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>后台管理</title>
<link rel="stylesheet" href="/public/static/bootstrap/3.3.5/css/bootstrap.min.css" />
<script type="text/javascript" src="/public/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/public/static/jq_plugins/layer/layer.js"></script>
<link href="/public/static/css/frame.css" rel="stylesheet" type="text/css" />

<style>
	.list-group>a{
		margin: 1px 0;
	}
</style>

<script>
	$(function(){
		$('.list-group>a').click(function(){
			$(this).addClass('active').siblings().removeClass('active');
		})
	})
</script>

</head>
<body class="showmenu" data-get-url="{:url('Public/checkState')}">
<div class="pagemask"></div>
<iframe class="iframemask"></iframe>
<div class="head">
<div class="top_logo"> <img src="/public/static/images/main/logo.png"/> </div>
     <div class="nav" id="nav">   
      <ul>
      	{foreach name='menu' key='k' item='v'}
		  <li id="menu_{$k}"><a {empty name='k'}class='thisclass'{/empty} href="#" _for="left_menu_{$k}"><b>{$v.name}</b></a></li>
		{/foreach}
      </ul>
    </div>
	 <div class="top_link">
      <ul>
	    <li id="i_self">{$Think.session.yang_adm_username}</li>
		<li id="i_hide_menu"><a href="#" id="togglemenu">隐藏菜单</a></li>
        <li id="i_home"><a href="{:config('CFG_WEBURL')}" target="_blank">首页</a></li> 
        <li id="i_help"><a href="{:go_link('http://www.xyhcms.com/')}" target="_blank">帮助</a></li>    
        <li id="i_exit"><a href="{:url('Login/logout')}" target="_top">退出</a></li>		
      </ul>
    </div>
</div>
<!-- header end -->

<div class="left">	  
	<div class="list-group text-center ">	    
		<a href="{:url('student/index')}" target="main" class="list-group-item list-group-item-primary active "> 学生 </a>
	  	<a href="{:url('teacher/index')}" target="main" class="list-group-item list-group-item-primary "> 教师	</a>
	  	<a href="{:url('grade/index')}" target="main" class="list-group-item list-group-item-primary "> 班级	</a>
	  	<a href="{:url('score/index')}" target="main" class="list-group-item list-group-item-primary "> 成绩	</a>
	</div>
</div>

<!-- left end -->

<div class="right">
	<div class="rightContent">
	<iframe id="main" name="main" frameborder="0" scrolling="yes" src="{:url('student/index')}" ></iframe>
	</div>    
</div>

<!-- right end -->

<div class="qucikmenu" id="qucikmenu">
  <ul>
<li><a href="content_list.htm" target="main">数据列表</a></li>
<li><a href="catalog_main.htm" target="main">栏目管理</a></li>
<li><a href="sys_info.htm" target="main">修改系统参数</a></li>
  </ul>
</div>
<!-- qucikmenu end -->
</body>
</html>