<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>XYHCMS</title>
<link rel="stylesheet" href="/public/static/css/login.css?v20160625" />
<script type="text/javascript" src="/public/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/public/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/public/static/js/messages_zh.js"></script>

<script>

	$.validator.setDefaults({
	    submitHandler: function() {
	      form.submit();
	    }
	});
	
	$().ready(function() {
	    $("#LoginForm").validate({
	    	messages:{
	    		username:{
	    			required:'请输入用户名',
	    			minlength:'长度不能小于3'
	    		},
	    		password:{
	    			required:'请输入密码'
	    		},
	    		verify:{
	    			required:'填写验证码'
	    		}
	    		
	    	}
	    });
	});

</script>

</head>	
<body>
	<div class="xyh-login">
		<div class="xyh-login-form">	
			<form action="{:url('login')}" method="post" id="LoginForm">
				<div class="title">	</div>
				<table width="100%">
					<tr>
						<th>帐号:</th>
						<td>
							<input type="username" name="username" minlength=3 class="len220" required/>
						</td>
					</tr>
					<tr>
						<th>密码:</th>
						<td>
							<input type="password" class="len220" name="password"  required/>
						</td>
					</tr>
					<tr>
					    <th>验证码:</th>
					    <td>
							<input name="verify" type="code" class="len220" name="code" autocomplete="off"  required/>
					    </td>
					</tr>
					<tr>
						<th>&nbsp;</th>
					  	<td>
							<img id="verify" src="{:captcha_src()}" onclick="$(this).attr('src','{:captcha_src()}/rand/' + Math.random());" alt="验证码" />
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-left:120px;"><button type="submit">登　　录</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>
</html>
