<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<title>{block name="title"}后台{/block}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/public/static/bootstrap/3.3.5/css/bootstrap.min.css" media="screen">	
	<link rel='stylesheet' type="text/css" href="/public/static/css/main.css" />
	
	<script type="text/javascript" src="/public/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/public/static/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="/public/static/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="/public/static/jq_plugins/layer/layer.js"></script>
	
	<script type="text/javascript" src="/public/static/js/common.js"></script> 
	
	<!-- 头部js文件|自定义 -->
	{block name="head-js" } 	 {/block}
</head>
<body>	
	<div class="xyh-content">
	{block name="content"}
		
	{/block}
	</div>
<body/>
</html>
